/* Fix link input object align */
.input-linklist {
  display: inline !important;
}

/* Fix link input object align for Splunk 6.5 */
.input-link {
  display: inline !important;
}

/* reduce size of the token input panel */
.input-link label{
  display: none !important;
}

.splunk-choice-input-message{
  display: none !important;
}

/* Increase the default max-width for links */
.btn-pill {
  max-width: 600px !important;
}

/* Home page */
.dashseparator {
	text-align: center;
	border: 3px dashed #ccc;
}

.dashseparator h1 {
	font-size: 22px;
	font-weight: bold;
	color: #999999;
	text-align: center;
}

.mainbutton_container_nomargin {
    text-align: center;
}

.mainbutton {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.mainbutton_highmargin {
    display: inline-block;
    margin-left: 90px;
    margin-right: 90px;
}

.box {
   display: inline-flex;;
   align-items: center;
   margin-top: 5px;
}

/*
        ---------------------
        Multi depends buttons
        ---------------------
*/

/* Button style */
.custom-sub-nav button{
        display: inline-block;
        margin: 0 1em;
}

/* Style when button is active */
.custom-sub-nav button.active{
        background: #BBDAF6;
}


/* custom link with icon */

.customlink img {
	float: left;
	width: 28px;
	height: 28px;
}

.customlink h3 {
	position: relative;
	top: 9px;
	left: 10px;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}

.customlink a {
    display: inline-block;
    transition: .3s;
    font-weight:bold;
    text-decoration:none;
}

.customlink a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
