/* Custom Modals widths */

.modal[class^="custom-modal"] {
	left: 50%;
	border: 1px solid green;
}

.custom-modal-30 {
    width: 30%;
    margin-left: -15%;
}

.custom-modal-50 {
    width: 50%;
    margin-left: -25%;
}

.custom-modal-60 {
    width: 60%;
    margin-left: -30%;
}

.custom-modal-70 {
    width: 70%;
    margin-left: -35%;
}

.custom-modal-80 {
    width: 80%;
    margin-left: -40%;
}

.custom-modal-96 {
    width: 96%;
    margin-left: -48%;
}
